parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 1
    processTimeout: 200.0
  paths:
    - src
    - tests
  scanFiles:
    - %currentWorkingDirectory%/vendor/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/autoload.php
    - %currentWorkingDirectory%/vendor/squizlabs/php_codesniffer/src/Util/Tokens.php
  checkGenericClassInNonGenericObjectType: false
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
  exceptions:
    implicitThrows: false
    checkedExceptionRegexes:
      - '#Exception#'
      - '#Throwable#'
    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true
  ignoreErrors:
    - '~Parameter #2 \$haystack of static method PHPUnit\\Framework\\Assert::assertCount\(\) expects Countable\|iterable, Laminas\\Form\\ElementInterface given~'
    - '~Call to an undefined method Laminas\\Form\\ElementInterface::get\(\)~'
    - '~Cannot call method getObject\(\) on Laminas\\Form\\ElementInterface\|null~'
    - '~Parameter #1 \$elementOrFieldset of method Laminas\\Form\\Element\\Collection::setTargetElement\(\) expects array\|Laminas\\Form\\ElementInterface\|Traversable, null given~'
    - '~Parameter #1 \$(data|object) of method Laminas\\Form\\Element\\Collection::(populateValues|setObject)\(\) expects iterable, null given~'
    - '~Cannot call method (toArray|getValue|get)\(\) on mixed~'
    - '~assertIsArray\(\) with null will always evaluate to false~'
